In [17]:
import psycopg2
def connection(db_name, db_user,db_password,db_host,db_port):
    try:
        conn = psycopg2.connect(
            dbname=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port
        )
        print('Sucessfully connected to the database')
        return conn
    except Exception as e:
        print(e)
        return None

params={
    "db_name": "Bootcamp",
    "db_user": "Bootcamp_owner",
    "db_password": 'PO6YLp0ZFGsq',
    "db_host": 'ep-little-dust-a5qk09yd.us-east-2.aws.neon.tech',
    "db_port": 5432
}
conn=connection(**params)
conn.autocommit=True

Sucessfully connected to the database

In [18]:
def execute_query(conn, query):
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        # print('Query executed successfully')
        return cursor
    except Exception as e:
        print(f"Error: {str(e)}")
        return None

In [19]:
query="SELECT * FROM users"
results = execute_query(conn, query).fetchall()
for result in results:
    print(result)

(0, 'Tom', 'curepipe', 'test@gmail.com', '1234', True)
(2, 'Paul', 'Floreal', 'paul@gmail.com', '12345', False)

In [20]:
query = "CREATE TABLE Movies(id integer primary key, Movie varchar(100) not null, Release varchar(100), Genre varchar(100), Rating integer); "
results = execute_query(conn,query)

Error: relation "movies" already exists

In [24]:
query = "ALTER TABLE Movies ALTER COLUMN Rating TYPE VARCHAR; "
results = execute_query(conn,query)

In [27]:
query = """
INSERT INTO Movies (id, Movie, Release, Genre, Rating)
VALUES (2, 'Drive', '2011-10-01', 'Action', '4/5');
"""
results = execute_query(conn,query)

In [28]:
query = "INSERT INTO Movies (id, Movie, Release, Genre, Rating) VALUES (3, 'Nosferatu', '1922-03-22', 'Gothic Horror', '5/5'); "

results = execute_query(conn,query)

In [30]:
query = "SELECT id, Movie, Release, Genre, Rating FROM Movies ORDER BY Release ASC; "
results = execute_query(conn,query)

In [31]:
query = "SELECT id, Movie, Release, Genre, Rating FROM Movies ORDER BY Release DESC; "
results = execute_query(conn,query)

In [ ]:
query = "ALTER TABLE Movies MODIFY COLUMN Release datatype; "
results = execute_query(conn,query)